input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
}

.myTable {
    width:100%;
    font-size:medium;
}
.myTable td{
    padding:7px;
}

.myTable th {
    border-bottom-style:groove;
}

#tableNew td {
    padding:4px;
}



#dropdownwrap{
    height:auto;
    float:left;
    margin:0px 0px 20px 50px;
    background-color:aqua;
    display:none;
    padding:10px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.img-responsive {
display:inline !important;
}

.form-horizontal label {
    text-align:left !important;
}